@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss"; 
*{
    font-family: Outfit;
}
.active{
    background-color: #ffebf5;
    border-color: #cb6799;
}

select,input,textarea{
    border:1px solid #c2c2c2;
    outline-color: #c487a6;
    border-radius: 4px ;
}