@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

a.active hr{
    display: block;
} 


.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


*{
    font-family: Outfit;
}

::-webkit-scrollbar{
    display: none;
}

@media(max-width:640px){
    a.active{
        background-color: black;
        color: aliceblue;
    }
}